#!/usr/bin/make -f

build:
	$(MAKE)

clean:
	$(MAKE) clean
	rm -f debian/files
	rm -rf debian/out

binary:
	./debian/libstob.sh
	./debian/libstob-dbg.sh
	./debian/libstob-dev.sh
	./debian/libstob-doc.sh
