<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libclargs" version="0.2.55" targetFramework="native" />
  <package id="libnitki" version="1.0.81" targetFramework="native" />
  <package id="libopros" version="1.0.91" targetFramework="native" />
  <package id="libpapki" version="1.0.134" targetFramework="native" />
  <package id="libtst" version="0.3.36" targetFramework="native" />
  <package id="libutki" version="1.1.228" targetFramework="native" />
  <package id="zlib_static" version="1.2.11.12" targetFramework="native" />
</packages>